<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Flask</title>
</head>
<body>

<h1>List of students:</h1>
<ul>
    <!--
    В самом темплейте помимо вывода переменных можно также
    итерироваться по списку, для этого используется все тот же
    цикл for только в фигурных скобках с процентом
    -->
    {% for student in students %}

<!--    Выводим студента
        Поскольку мы сделали выборку со * звездочкой (SELECT * FROM ...)
        то в результате у нас в списке студентов есть информация по всем,
        в моем случае четырем полям: id, name, surname, age

        поэтому нам нужны только 1, 2, 3 елементы в каждом студенте
-->
    <li>Name: {{ student[1] }}  Surname: {{ student[2] }} Age: {{ student[3] }}</li>

<!--    Закрываем цикл-->
    {% endfor %}
</ul>

</body>
</html>
